# Python / Django
*.pyc
*__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
db.sqlite3
db.sqlite3-journal

# Umgebungsvariablen / API-Keys & Secrets
.env
.env.local
*.env

# Virtuelle Umgebungen
venv/
env/
.venv/
ENV/

# VS Code / IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Media- & Static-Uploads (temporäre Audio-Files & Whisper-Downloads)
media/
staticfiles/
*.mp3
*.wav
*.m4a

# Logs & temporäre Cache-Dateien
*.log
.cache/